# Created by .ignore support plugin (hsz.mobi)

.gradle/
.idea/

build.gradle
gradle/
gradlew
gradlew.bat
settings.gradle

add first commit

add second commit

add third commit

add 4th commit

add 5th commit



